<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @review.time %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @review.rating %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @review.comment %>
</p>

<%= link_to 'Edit', [:edit, @review.shop, @review] %> |
<%= link_to 'Back', [@review.shop, Review] %>
